html {
padding: 0;
margin: 0;
}

body {
background-color: #161616;
font-size: 11px;
font-family: 'Oswald', sans-serif;
color: #cccccc;
padding: 0;
margin: 0;
margin-top: 20px;
padding-left: 20px;
}

header {
    font-size: 14px;
}

h1 {
font-size:  16px;
font-family: 'IM Fell Great Primer SC', serif;
}

a:link, a:visited, a:hover, a:active {
color: #cccccc;
border-bottom: 1px solid #cccccc;
padding-bottom: 1px;
text-decoration: none;
}

.border {
border: 1px solid #cccccc;
float: left;
margin: 5px;
padding: 1px;
}

.center {
text-align: center;
}

.color {
display: block;
height: 130px;
width: 130px;
}

.colorcontainer {
margin: 0 auto;
}

.colorname {
display: block;
text-align: center;
padding: 5px 0;
}

.resultsGood {
    color: darkgreen
}

.resultsBad {
    color: darkred
}

#things-i-like {
    position: absolute;
    left: 450px;
    top: 75px;
}

#things-i-dont-like {
    position: absolute;
    left: 650px;
    top: 75px;
}

#bio {
    position: absolute;
    left: 450px;
    top: 250px;
}

#quizbutton {
    position: absolute;
    left: 450px;
    top: 350px;
}

#results {
    position: absolute;
    left: 575px;
    top: 333px;
    border-radius: 1px;
    border: dotted #cccccc 5px;
    font-size: 10px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;

}

#image {
    border-radius: 1px;
    border: dotted #cccccc 5px;
}
